.breadcrumb {
   @media (min-inline-size: 640px) {
      gap: var(--shim-6);
   }

   &__list {
      align-items: center;
      color: hsl(var(--color-muted-foreground));
      display: flex;
      flex-wrap: wrap;
      font-size: var(--font-size-sm);
      gap: var(--shim-4);
      list-style: none;
      padding-left: 0;
      word-wrap: break-word;
   }

   &__item {
      align-items: center;
      display: inline-flex;
      gap: var(--shim-4);
   }

   &__link {
      color: hsl(var(--color-text-2) / 0.75);
      transition: color var(--duration-fast) var(--ease-in-out);
      text-decoration: none;

      &:hover {
         color: hsl(var(--color-text-2) / 1);
      }
   }

   &__page {
      color: hsl(var(--color-text-1));
      font-weight: normal;
   }

   &__separator {
      align-items: center;
      background-color: transparent;
      block-size: calc(var(--size-3) + var(--shim-3));
      display: flex;
      inline-size: calc(var(--size-3) + var(--shim-3));
      justify-content: center;

      .icon {
         --icon-color: hsl(var(--color-text-2));
         --icon-size: var(--size-1);
      }
   }

   &__ellipsis {
      align-items: center;
      background-color: transparent;
      block-size: calc(var(--size-3) + var(--shim-3));
      display: flex;
      inline-size: calc(var(--size-3) + var(--shim-3));
      justify-content: center;
   }
}