@use '../../../../css/abstracts/mixins/breakpoints' as mq;

.sidebar {
   --_sidebar-transition-duration:             var(--sidebar-transition-duration, var(--duration-moderate));
   --_sidebar-transition-easing:               var(--sidebar-transition-easing, var(--ease-spring-2));

   color: hsl(var(--color-sidebar-foreground));
   display: none;

   @include mq.breakpoint(sm) {
      display: block;
   }

   &[data-collapsible='none'] {
      background-color: hsl(var(--color-sidebar-background));
      block-size: 100%;
      color: hsl(var(--color-sidebar-foreground));
      display: flex;
      flex-direction: column;
      inline-size: var(--sidebar-inline-size);
   }

   &[data-collapsible='offcanvas'] {
      --sidebar-gap-inline-size: 0;
   }

   &[data-collapsible='icon'] {
      --sidebar-gap-inline-size: var(--sidebar-inline-size-icon);
      --sidebar-wrapper-inline-size: var(--sidebar-inline-size-icon);

      &:where([data-variant='floating'], [data-variant='inset']) {
         --sidebar-gap-inline-size: calc(var(--sidebar-inline-size-icon) + var(--size-1));
         --sidebar-wrapper-inline-size: calc(var(--sidebar-inline-size-icon) + var(--size-1) + var(--shim-2));
      }

   }

   &[data-state='expanded'] {

   }

   &[data-state='collapsed'] {

   }

   &[data-side='left'] {
      --sidebar-rail-cursor: w-resize;
      --sidebar-rail-inline-end: calc(var(--size-1) * -1);
      --sidebar-wrapper-inline-start: 0;

      &:where([data-collapsible='offcanvas']) {
         --sidebar-rail-inline-end: calc(var(--shim-5) * -1);
         --sidebar-wrapper-inline-start: calc(var(--sidebar-inline-size) * -1);
      }

      &:where(:not([data-variant='floating'], [data-variant='inset'])) {
         --sidebar-wrapper-border-inline-end: var(--border-size-1) solid hsl(var(--color-border));
      }

      &:where([data-state='collapsed']) {
         --sidebar-rail-cursor: e-resize;
      }
   }

   &[data-side='right'] {
      --sidebar-gap-rotate: 180deg;
      --sidebar-rail-cursor: e-resize;
      --sidebar-rail-inline-start: 0;
      --sidebar-wrapper-inline-end: 0;

      &:where([data-collapsible='offcanvas']) {
         --sidebar-rail-inline-start: calc(var(--shim-5) * -1);
         --sidebar-wrapper-inline-end: calc(var(--sidebar-inline-size) * -1);
      }

      &:where(:not([data-variant='floating'], [data-variant='inset'])) {
         --sidebar-wrapper-border-inline-start: var(--border-size-1) solid hsl(var(--color-border));
      }

      &:where([data-state='collapsed']) {
         --sidebar-rail-cursor: w-resize;
      }
   }

   &[data-variant='sidebar'] {

   }

   &[data-variant='floating'] {
      --sidebar-wrapper-padding: var(--shim-5);
   }

   &[data-variant='inset'] {
      --sidebar-wrapper-padding: var(--shim-5);
   }
}

.sidebar__sheet {
   background-color: hsl(var(--color-sidebar-background));
   color: hsl(var(--color-sidebar-foreground));
   inline-size: var(--sidebar-inline-size);
   padding: 0;

   & > button {
      display: none;
   }
}

.sidebar__sheet-inner {
   block-size: 100%;
   display: flex;
   flex-direction: column;
   inline-size: 100%;
}

.sidebar__gap {
   background: transparent;
   block-size: var(--sidebar-block-size, 100svh);
   inline-size: var(--sidebar-gap-inline-size, var(--sidebar-inline-size));
   position: relative;
   rotate: var(--sidebar-gap-rotate, 0);
   transition: inline-size var(--_sidebar-transition-duration) var(--_sidebar-transition-easing);
}

.sidebar__wrapper {
   border-inline-start: var(--sidebar-wrapper-border-inline-start, none);
   border-inline-end: var(--sidebar-wrapper-border-inline-end, none);
   block-size: var(--sidebar-block-size, 100svh);
   display: none;
   inline-size: var(--sidebar-wrapper-inline-size, var(--sidebar-inline-size));
   inset-block: 0;
   inset-inline-start: var(--sidebar-wrapper-inline-start, auto);
   inset-inline-end: var(--sidebar-wrapper-inline-end, auto);
   padding: var(--sidebar-wrapper-padding, 0);
   position: var(--sidebar-wrapper-position, fixed);
   transition:
      inline-size var(--_sidebar-transition-duration) var(--_sidebar-transition-easing),
      inset-inline-end var(--_sidebar-transition-duration) var(--_sidebar-transition-easing),
      inset-inline-start var(--_sidebar-transition-duration) var(--_sidebar-transition-easing);
   z-index: var(--z-layer);

   @include mq.breakpoint(sm) {
      display: flex;
   }
}

.sidebar__inner {
   display: flex;
   block-size: 100%;
   inline-size: 100%;
   flex-direction: column;
   background-color: hsl(var(--color-sidebar-background));

   [data-variant='floating'] & {
      border: var(--border-size-1) solid hsl(var(--color-sidebar-border));
      border-radius: var(--radius-4);
      box-shadow: var(--elevation-2);
   }
}

.sidebar__trigger {
   block-size: var(--sidebar-trigger-size, var(--size-4));
   inline-size: var(--sidebar-trigger-size, var(--size-4));
}

.sidebar__rail {
   cursor: var(--sidebar-rail-cursor, pointer);
   display: none;
   inline-size: var(--size-1);
   inset-block: 0;
   inset-inline-start: var(--sidebar-rail-inline-start, auto);
   inset-inline-end: var(--sidebar-rail-inline-end, auto);
   position: absolute;
   transition: all var(--_sidebar-transition-duration) var(--_sidebar-transition-easing);
   translate: -50%;
   z-index: var(--z-drawer);

   @include mq.breakpoint(xs) {
      display: flex;
   }

   &::after {
      content: '';
      inline-size: var(--shim-2);
      inset-block: 0;
      inset-inline-start: 50%;
      position: absolute;
   }

   [data-collapsible='offcanvas'] & {
      translate: 0;

      &::after {
         inset-inline-start: 100%;
      }
   }

   &:hover {
      [data-collapsible='offcanvas'] & {
         background: hsl(var(--color-sidebar-border));
      }

      &::after {
         background: hsl(var(--color-sidebar-border));
      }
   }
}

.sidebar__inset {
   position: relative;
   display: flex;
   min-block-size: var(--sidebar-block-size, 100svh);
   flex: 1 1 0;
   background-color: var
}

.sidebar__input {

}

.sidebar__header {

}

.sidebar__footer {

}

.sidebar__separator {

}

.sidebar__content {

}

.sidebar__group {

}

.sidebar__group-label {

}

.sidebar__group-action {

}

.sidebar__group-content {

}

.sidebar__menu {

}

.sidebar__menu-item {

}

.sidebar__menu-button {

}

.sidebar__menu-action {

}

.sidebar__menu-badge {

}

.sidebar__menu-skeleton {

}

.sidebar__menu-sub {

}

.sidebar__menu-sub-button {

}

.sidebar__menu-sub-item {

}