@font-face {
  font-family: "Fliege mono";
  src:
    url("/fonts/FliegeMonoVF.woff2") format("woff2 supports variations"),
    url("/fonts/FliegeMonoVF.woff2") format("woff2-variations");
  font-weight: 100 900;
}
