:where(.theme-light, :root) {
   --color-accent-foreground:        var(--color-slate-100-hsl);
   --color-accent:                   var(--color-slate-900-hsl);
   --color-background:               var(--color-slate-900-hsl);
   --color-border:                   var(--color-slate-200-hsl);
   --color-card-foreground:          var(--color-mono-0-hsl);
   --color-card:                     var(--color-slate-900-hsl);
   --color-destructive-foreground:   var(--color-red-500-hsl);
   --color-destructive:              var(--color-slate-50-hsl);
   --color-foreground:               var(--color-mono-0-hsl);
   --color-input:                    var(--color-slate-200-hsl);
   --color-muted-foreground:         var(--color-slate-100-hsl);
   --color-muted:                    var(--color-slate-500-hsl);
   --color-popover-foreground:       var(--color-mono-0-hsl);
   --color-popover:                  var(--color-slate-900-hsl);
   --color-primary-foreground:       var(--color-slate-900-hsl);
   --color-primary:                  var(--color-slate-50-hsl);
   --color-ring:                     var(--color-slate-400-hsl);
   --color-secondary-foreground:     var(--color-slate-100-hsl);
   --color-secondary:                var(--color-slate-900-hsl);
   --color-success-foreground:       var(--color-emerald-950-hsl);
   --color-success:                  var(--color-emerald-50-hsl);
   --color-warning-foreground:       var(--color-orange-950-hsl);
   --color-warning:                  var(--color-orange-300-hsl);
}

:where([data-theme='dark']) {
   --color-accent-foreground:        var(--color-slate-900-hsl);
   --color-accent:                   var(--color-slate-100-hsl);
   --color-background:               var(--color-mono-0-hsl);
   --color-border:                   var(--color-slate-200-hsl);
   --color-card-foreground:          var(--color-slate-900-hsl);
   --color-card:                     var(--color-mono-0-hsl);
   --color-destructive-foreground:   var(--color-slate-50-hsl);
   --color-destructive:              var(--color-red-500-hsl);
   --color-foreground:               var(--color-slate-900-hsl);
   --color-input:                    var(--color-mono-0-hsl);
   --color-muted-foreground:         var(--color-slate-500-hsl);
   --color-muted:                    var(--color-slate-500-hsl);
   --color-popover-foreground:       var(--color-slate-900-hsl);
   --color-popover:                  var(--color-mono-0-hsl);
   --color-primary-foreground:       var(--color-slate-50-hsl);
   --color-primary:                  var(--color-slate-900-hsl);
   --color-ring:                     var(--color-slate-400-hsl);
   --color-secondary-foreground:     var(--color-slate-900-hsl);
   --color-secondary:                var(--color-slate-100-hsl);
   --color-success-foreground:       var(--color-emerald-500-hsl);
   --color-success:                  var(--color-emerald-950-hsl);
   --color-warning-foreground:       var(--color-orange-300-hsl);
   --color-warning:                  var(--color-orange-950-hsl);
}

p, h1, h2, h3, h4, h5, h6 {
   color: var(--color-foreground);
}

span {
   color: var(--color-foreground);
}

.text-destructuve {
   color: var(--color-destructive-foreground);
}

.text-muted-foreground {
   color: var(--color-muted-foreground);
}