.icon {
  aspect-ratio: var(--icon-ratio, auto);
  block-size: var(--icon-size, auto);
  inline-size: var(--icon-size, auto);

  .icon__svg {
    block-size: 100%;
    color: var(--icon-color, currentColor);
    inline-size: 100%;
    object-fit: contain;
  }
}
