.brand {
   color: hsl(var(--color-foreground));
   display: grid;
   font-size: var(--font-size-sm);
   gap: 0 0.4em;
   grid-auto-flow: column;
   grid-auto-columns: auto;
   justify-content: start;

   &__name {
      font-weight: var(--font-weight-bold);
   }

   &__sub-parent {
      grid-column: 1 / -1;
      grid-row: 2 / span 1;

   }
}