.header {
   background: hsl(var(--color-surface-1));
   color: hsl(var(--color-text-1));
   padding-block: var(--shim-7);
   padding-inline: var(--shim-5);
   position: relative;
   z-index: var(--z-sticky);
}

.header__container{
   align-items: center;
   display: grid;
   grid-template-columns: auto auto 1fr auto;
   gap: var(--shim-5);
}