.site-inner {
  --sidebar-block-size: 100%;
  --sidebar-wrapper-position: absolute;

  display: grid;
  grid-template-columns: auto 1fr;
  min-inline-size: 100vi;
  position: relative;
}

.site-content {
  display: grid;
  grid-template-columns: 1fr;
}

.site-brand {
  background: hsl(var(--color-surface-0));
  border-block-end: var(--border-size-1) solid hsl(var(--color-border));
  display: grid;
  gap: var(--shim-8);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  padding: var(--size-2) var(--size-fluid-4);
  place-content: start;
}
