{{ set _tag = tag ?? 'div' }}

{{ if org.brand}}
<{{ _tag }} class="site-brand">
   <span class="site-brand__name">{{ org.brand }}</span>
   {{ if org.brand_parent }}
      <span class="site-brand__parent">{{ org.brand_parent }}</span>
   {{ /if }}
   {{ if org.brand_subparent }}
      <span class="site-brand__subparent">{{ org.brand_subparent }}</span>
   {{ /if }}
</{{ _tag }} class="site-brand">
{{ /if }}