{{ ui.button({
   classes: 'theme-toggle button--ui button--toggle',
   icon: ['sun', 'moon'],
   label: 'Toggle Theme',
   srOnly: true,
   attrs: { 'data-theme-toggle': 'auto'},
   tooltip: 'bottom',
})}}